@font-face {
  font-family: 'MARSNEVENEKSK';
  src: url("fonts/MARSNEVENEKSK.otf");

  }

body {
  font-family: 'MARSNEVENEKSK', arial, serif;
}

#game-board {
  display: none;
  text-align: center;
  padding: 10px, 0;
}

#winner-board {
  display: none;
  text-align: center;
}

#dice-board {
  max-width: 100%;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

#game-form {
  text-align: center;
}

#turn-score {
  display: none;
}

#roll-score {
  display: none;
}


#dice-1 {
  display: none;
  max-height: 70px;
  max-width: auto;
}

#dice-2 {
  display: none;
  max-height: 70px;
  max-width: auto;
}

#dice-3 {
  display: none;
  max-height: 70px;
  max-width: auto;
}

#dice-4 {
  display: none;
  max-height: 70px;
  max-width: auto;
}

#dice-5 {
  display: none;
  max-height: 70px;
  max-width: auto;
}

#dice-6 {
  display: none;
  max-height: 70px;
  max-width: auto;
}

/*HEADER*/
#logo-header {
  text-align: center;
  padding: 15px 0px;
  margin: 5px; 5px;
}

#pig-logo {
  max-width: 150px;
  z-index: 2;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#dice-logo {
  max-width: 250px;
  margin-top: -55px;
  /*margin-left: 56px;*/
  z-index: 1;
  position: relative;
}

#start-button {
  text-align: center;
}

#points {
  font-size: 120px;
}

h1 {
  font-size: 55px;
}

.form-group {
  display: inline-block;
}

input[type="text"] {
    font-size:50px;
    border-style: none;
    border-bottom: solid;
    text-align: center;
    width: 200px;
}

button[type="submit"] {
    font-size:50px;
    border-style: none;
    width: auto;
}

.btn {
  margin: 0 10px;
}
